.footer{
	width:100%;
	height:395px;
	background-image:url(../img/img-divider-img.jpg);
    background-repeat: round;
    background-position: bottom;
    background-size: cover;
    .iconos{
    	margin-left:20.5%;
    }
    	.iconos__img{
    		width:10%;
    		height:100px;
    		margin-top:9%;
    		margin-left:.5%;
    	}
}
.info-footer{
	width:100%;
	height:190px;
	background-color:$verde;
	.info-footer__title{
		font-size:$enlace;
		color:$blanco;
		text-align:center;
	}
	.info-footer__list{
		list-style:none;
		color:$blanco;
		text-align:center;
		margin-top:7%;
		.info-footer__link{
			margin-top:4%;
		}
		.info-footer__link--separator{
			width:50px;
			margin-left:40%;
		}
		.info-footer__link__i{
		   display:inline-block;
		   width:35px;
		   height:35px;
		   padding:5px;
		   background-color:$grisObscuro;
		   margin-left:-51.5%;
		   top:12%;
		   color:orange;
		   text-align:center;
		}
		.info-footer__link__input{
			display:inline-block;
			height:36px;
			position:absolute;
		}
		.info-footer__link__button{
			width:120px;
	        height:40px;
	        margin-left:25%;
	        margin-top:6%;
	        color: $blanco;
	        border-radius:8%;
	        background-color:$grisObscuro;
		}
	}
	   
}
	


